examples/Starter Example.json
[{"id":"52d70a6d.15a214","type":"inject","z":"48b23a78.c28b44","name":"Start example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":600,"wires":[["73e4cf23.5e97f8"]]},{"id":"e0721b03.2f2358","type":"http-send-multipart-form","z":"48b23a78.c28b44","name":"Send multipart/form-data","filetype":"empty","formparts":"","ret":"obj","url":"https://postman-echo.com/post","tls":"","x":790,"y":600,"wires":[["3dd3d450.0ed7cc"]]},{"id":"6d707c6d.b4c044","type":"function","z":"48b23a78.c28b44","name":"Set form data","func":"msg.payload = {\n    file: {\n        field: 'file',\n        data: msg.payload,\n        type: 'binary',\n        name: 'dummy'\n    },\n    formOptions: {\n        userName: 'example',\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":600,"wires":[["e0721b03.2f2358"]]},{"id":"73e4cf23.5e97f8","type":"http request","z":"48b23a78.c28b44","name":"Get Dummy Data (PDF)","method":"GET","ret":"bin","paytoqs":false,"url":"https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":600,"wires":[["6d707c6d.b4c044"]]},{"id":"3dd3d450.0ed7cc","type":"debug","z":"48b23a78.c28b44","name":"Debug Server response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":600,"wires":[]}]